:root {
  --font-primary: "DM Sans", sans-serif;
  --blue-light: #0998bd;
  --blue-secondary: #4979a4;
  --blue-dark: #1f3469;
}

body {
  font-family: var(--font-primary);
  letter-spacing: 0px;
  padding-top: 97px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: var(--blue-secondary);
}

.standard-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-overlay {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 13, 47, 0.75);
}

a {
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn {
  font-size: 16px;
  line-height: 1.31;
  font-weight: 400;
  border-radius: 10px;
  border: none;
  padding: 18px 24.5px;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-primary {
  background-color: var(--blue-light);
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #edfbff;
  color: var(--blue-light);
  border: none;
  box-shadow: none;
  outline: none;
}

.btn-blue-light {
  background-color: #edfbff;
  color: var(--blue-light);
}

.btn-blue-light:hover,
.btn-blue-light:active,
.btn-blue-light:focus {
  background-color: var(--blue-light);
  color: #ffffff;
  outline: none;
}

.btn-blue-secondary,
.btn-blue-secondary:hover,
.btn-blue-secondary:active,
.btn-blue-secondary:focus {
  background-color: var(--blue-secondary);
  color: #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: var(--blue-light);
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  background-color: var(--blue-light);
  color: #ffffff;
  outline: none;
}

.btn-outline-blue {
  color: #ffffff;
  border: 1px solid var(--blue-light);
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
  background-color: var(--blue-light);
  color: #ffffff;
  border: 1px solid var(--blue-light);
}

.dark-overlay {
  position: relative;
}

.dark-overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 13, 47, 0.5);
  z-index: 1;
}

/******************************************
                Navbar
******************************************/

.navbar {
  background: #ffffff;
  border: 1px solid #ededed;
  transition: all 0.5s;
  padding-top: 14px;
  padding-bottom: 14px;
}
.navbar.scrollUp {
  transform: translateY(-100px);
}

.navbar-brand img {
  height: 57px;
  width: auto;
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.navbar-nav > li:last-child {
  margin-right: 0px;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.31;
  color: #000000;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: var(--blue-light);
}
.nav-link.active {
  color: var(--blue-light) !important;
}

.navbar-toggler {
  position: relative;
  border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: var(--blue-secondary);
  height: 5px;
  width: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.slide-menu {
  z-index: 1031;
  position: relative;
}

.menu-wrap {
  background-color: var(--blue-dark);
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;
  position: fixed;
  width: 570px;
  top: 0;
  right: -570px;
  bottom: 0;
  z-index: 999;
}
.menu-overlay {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 900;
}
.menu-close {
  background: transparent url(img/times.svg) center no-repeat;
  filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(187deg)
    brightness(107%) contrast(108%);
  background-size: 25px;
  opacity: 1;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  top: 31px;
  text-indent: -9999px;
  transition: all 0.3s;
}
.menu-close:hover {
  cursor: pointer;
}
.menu-wrap:hover .menu-close {
  opacity: 1;
}
.menu-toggle {
  display: none;
}
.menu-toggle:checked + .menu-wrap {
  right: 0;
}
.menu-toggle:checked ~ .menu-overlay {
  display: block;
}

.menu-list {
  position: absolute;
  top: 70px;
  left: 110px;
  right: 110px;
  height: inherit;
  display: block;
  overflow: hidden;
}
.menu-wrap:hover .menu-list {
  overflow-y: auto;
}
.menu-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-list li {
  display: block;
}
.menu-list li a,
.menu-list li label {
  display: block;
  font-size: 22px;
  line-height: 3.54;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #4979a4;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.menu-list li a:hover,
.menu-list li label:hover,
.menu-list li a:active,
.menu-list li a.active {
  cursor: pointer;
  color: #ffffff;
}

.menu-item .btn {
  font-weight: 400;
  padding: 18px 26px !important;
}

.navbar-nav > li > a.btn-blue-light {
  color: var(--blue-light);
}

.navbar-nav > li > a.btn-blue-light:hover {
  color: #ffffff;
}

.mobile-menu-btn-wrap {
  max-width: 167px;
  margin-top: 40px;
}

.mobile-menu-btn-wrap .btn {
  padding: 18.5px 10px;
  font-size: 22px;
  font-weight: 400;
}

/******************************************
                Hero
******************************************/

.hero-section {
  background: url(img/stiehltech-homepage-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 97px);
  position: relative;
  padding-top: 160px;
}

.hero-section-content {
  z-index: 10;
  position: relative;
}

.hero-section h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.225;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero-section h3 {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.23;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-section h4 {
  font-size: 30px;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 400;
}

.hero-right {
  padding-left: 160px;
  position: relative;
}

.hero-right-img {
  margin-top: -60px;
}

.hero-right-img img {
  width: 538px;
  height: auto;
}

.hero-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 43px;
  z-index: 10;
}

.mobile-hero-img {
  position: absolute;
  z-index: 10;
}

.hero-btn-wrap .btn {
  font-weight: 700;
}

/******************************************
                What is Perilav
******************************************/
#what-perilav {
  background-color: #ffffff;
}

.what-perilav.standard-section {
  padding-bottom: 80px;
}

.what-perilav h3 {
  margin-bottom: 10px;
}

.circle-photo img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0px 12px 24px #00000029;
  border: 5px solid #ffffff;
}

.standard-list ul li {
  position: relative;
  margin-bottom: 10px;
}

.standard-list ul li:last-child {
  margin-bottom: 0px;
}

.standard-list ul li:before {
  position: absolute;
  content: url(img/list-bullet.svg);
  left: -30px;
  top: 2px;
}

.list-style-none:before {
  content: "" !important;
}

.standard-list ul li ul li {
  position: relative;
}

.standard-list ul li ul {
  padding-left: 20px;
}

.standard-list ul li ul li:before {
  position: absolute;
  content: "•";
  color: #ffffff;
  font-size: 16px;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.standard-list ul {
  list-style: none;
}

.standard-list ul li p:last-child {
  margin-bottom: 0px;
}

.standard-list ul li {
  font-size: 16px;
  line-height: 1.375;
  color: #000000;
  max-width: 500px;
}

.what-perilav-text h5 {
  font-size: 22px;
  line-height: 1.36;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 400;
}

/******************************************
          Inovative Banner
******************************************/
.inovative-banner {
  background-color: var(--blue-secondary);
  padding-top: 26px;
  padding-bottom: 26px;
}

.inovative-banner h4 {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 0px;
}

/******************************************
            Why Perilav
******************************************/
.why-perilav {
  background: transparent linear-gradient(0deg, #1f3469 0%, #03174e 100%) 0% 0%
    no-repeat padding-box;
}

.why-perilav.standard-section {
  padding-bottom: 100px;
}

.why-perilav h3 {
  margin-bottom: 10px;
}

.why-perilav-content {
  max-width: 534px;
}

.why-perilav h5 {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.36;
  margin-bottom: 20px;
  font-weight: 400;
}

.why-perilav .standard-list ul li {
  color: #ffffff;
}

.standard-list ul li ul {
  color: #ffffff;
  margin-bottom: 20px;
}

.standard-list ul li ul li {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.31;
}

.why-perilav .product-photo-wrap {
  margin-top: 85px;
}

.why-perilav .product-photo-wrap img {
  max-width: 100%;
  height: auto;
}

.why-perilav-content.content-right .btn-wrap {
  margin-top: 30px;
}

.why-perilav-content.content-right .btn-wrap a {
  margin-right: 20px;
}

.why-perilav-content.content-right .btn-wrap a:last-child {
  margin-right: 0px;
}

.why-perilav-content.content-right h5 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.why-perilav-content.content-right .standard-list {
  margin-top: 60px;
}

.why-perilav-content.content-right .standard-list ul li {
  margin-bottom: 30px;
}

.why-perilav-content.content-right .standard-list ul li:last-child {
  margin-bottom: 0px;
}

/******************************************
          Testimonials
******************************************/
.testimonials-section {
  background-color: #fafafa;
}

.testimonials-section h3,
.latest-news-section h3 {
  color: #000000;
  position: relative;
}

.border-bottom-small::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  border-bottom: 2px solid var(--blue-secondary);
}

.testimonials-block {
  margin-top: 80px;
}

.testimonials-block a {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
}

.testimoial-block a:first-child {
  margin-left: 0px;
}

.testimoial-block a:last-child {
  margin-right: 0px;
}

.testimoial-box {
  max-width: 300px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 67px 35px 25px;
  position: relative;
  height: 100%;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: flex;
  flex-direction: column;
}

.testimoial-box:hover,
.news-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 24px #00000029;
  cursor: pointer;
}

.person-name {
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  color: #000000;
}

.person-job {
  font-size: 13px;
  line-height: 1.3;
  color: var(--blue-secondary);
  font-weight: 700;
  text-transform: uppercase;
}

.testimonial-divider {
  background-color: var(--blue-secondary);
  width: 33px;
  height: 2px;
  margin: 19.5px auto 16.5px;
}

.testimoial-box p {
  font-size: 14px;
  line-height: 1.35;
  color: #606060;
  margin-bottom: 25px;
}

.testimoial-box .read-more,
.news-box .read-more,
.news-box .read-more a {
  color: var(--blue-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.quote-wrap {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 50%;
  transform: translateX(-50%);
  top: -29px;
  border-radius: 50%;
  background-color: var(--blue-secondary);
}

.quote-wrap img {
  height: 20.66px;
  width: auto;
}

/******************************************
            Latest News
******************************************/

.latest-news-section {
  background-color: #ffffff;
}

.latest-news-block {
  margin-top: 50px;
}

.latest-news-block a {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
}

.latest-news-block a:first-child {
  margin-left: 0px;
}

.latest-news-block a:last-child {
  margin-right: 0px;
}

.news-photo-wrap {
  width: 100%;
}

.news-photo-wrap img {
  height: 264px;
  object-fit: cover;
  width: 100%;
}

.news-box {
  max-width: 370px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #ffffff;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.news-info-wrap {
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.news-info-wrap .read-more {
  justify-content: flex-start;
}

.news-date {
  color: var(--blue-secondary);
  font-size: 13px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 5px;
}

.news-info-wrap h3 {
  color: #000000;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.23;
  margin-bottom: 14px;
}

.news-info-wrap p {
  color: #606060;
  font-size: 14px;
  line-height: 1.44;
  margin-bottom: 25px;
}

.latest-news-section .btn-wrap {
  margin-top: 40px;
}

.latest-news-section .btn-wrap .btn {
  font-weight: 700;
}

/******************************************
            Footer
******************************************/
footer {
  background-color: #212121;
  padding-top: 30px;
  border-top: 5px solid var(--blue-secondary);
}

.footer-bottom {
  padding: 15px;
  padding-bottom: 10px;
}

footer .footer-logo img {
  height: 57px;
  width: auto;
}

.footer-menu {
  list-style: none;
}

.footer-menu li {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-menu li a {
  color: #8e8e8e;
  font-size: 16px;
  line-height: 1.31;
  text-decoration: none;
}

.footer-menu li a:hover {
  color: var(--blue-light);
}

.tel-link {
  color: #8e8e8e;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 1.28;
  text-decoration: none;
  padding: 13px 20px;
}

.tel-link:hover {
  color: var(--blue-light);
}

.tel-link span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 1.125;
}

.footer-copyright {
  color: #8e8e8e;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.33;
}

.footer-social-icons > ul > li {
  margin-right: 20px;
}

.footer-social-icons > ul > li > a > img {
  filter: invert(59%) sepia(14%) saturate(0%) hue-rotate(191deg) brightness(92%)
    contrast(93%);
  height: 24px;
}

.footer-social-icons > ul > li > a > img:hover {
  filter: invert(49%) sepia(93%) saturate(4103%) hue-rotate(166deg)
    brightness(97%) contrast(93%);
}

/******************************************
            Modal
******************************************/
.modal-content {
  border-radius: 0px;
  border: none;
}

.modal form {
  margin-top: 40px;
}

.modal .form-control,
.modal .form-select {
  background-color: #f9f8f8;
  border-radius: 10px;
  border: none;
  padding: 13px 20px;
}

.form-select option {
  color: #000000;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 600;
}

.form-label span {
  color: var(--blue-light);
}

.input-box {
  margin-bottom: 20px;
}

.form-select {
  background-image: url(img/arrow.svg);
}

.modal-dialog {
  box-shadow: 0px 15px 99px #00000039;
}

.modal .form-control:focus,
.modal .form-select:focus {
  box-shadow: none;
  outline: none;
}

.modal-title {
  font-size: 36px;
  line-height: 1;
  color: #000000;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal-body {
  padding: 60px;
}

.modal-body h6 {
  color: #000000;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
}

.form-label {
  margin-bottom: 10px;
  color: #000000;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.08px;
}
.modal .btn {
  margin-top: 20px;
}

.modal .btn-close {
  background: url(img/times.svg);
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 25px;
  right: 25px;
}

.modal-body .btn-primary:hover,
.modal-body .btn-primary:focus,
.modal-body .btn-primary:active {
  background-color: #0088ac;
  color: #ffffff;
  outline: none;
}

.modal .btn {
  font-weight: 700;
}

/******************************************
            Page Cover
******************************************/
.page-cover {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 5px solid var(--blue-secondary);
}

.page-cover::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 13, 47, 0.5);
}

.page-cover-content {
  position: relative;
  z-index: 10;
}

.page-cover-content h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.31;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.page-cover-content h5 {
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 0px;
}

/******************************************
            Testimonial page
******************************************/
.testimonial-page {
  background-color: #1f3469;
  padding-top: 20px;
  padding-bottom: 20px;
}

.single-testimonial {
  max-width: 812px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--blue-secondary);
}

.single-testimonial:last-child {
  border-bottom: none;
}

.single-testimonial p {
  font-size: 16px;
  line-height: 1.375;
  color: #ffffff;
  margin-bottom: 10px;
}

.single-testimonial .testimonial-text p:last-child {
  margin-bottom: 0px;
}

.person-info {
  margin-top: 30px;
}

.person-info .person-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 5px;
}

.person-info .person-job {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.31;
  font-weight: 400;
}

/******************************************
            Our Products
******************************************/

.our-products-hero {
  padding-top: 62px;
  padding-bottom: 72px;
}

.products-hero-text {
  max-width: 600px;
}

.products-hero-text h1 {
  font-size: 60px;
  color: var(--blue-dark);
  line-height: 1.31;
  font-weight: 700;
}

.products-hero-text h4 {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 40px;
}

.products-hero-text h6 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.36;
  margin-bottom: 20px;
}

.products-hero-text .standard-list ul li {
  margin-bottom: 18px;
}

.products-hero-text .standard-list ul li:last-child {
  margin-bottom: 0px;
}

.products-hero-text .standard-list ul {
  margin-bottom: 30px;
}

.products-hero-text .standard-list {
  padding-left: 20px;
}

.products-hero-text p {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.products-hero-img {
  margin-left: 110px;
}

.products-hero-img img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 12px 24px #00000029;
  object-fit: cover;
}

.products-big-section {
  position: relative;
  background: transparent linear-gradient(0deg, #1f3469 0%, #03174e 100%);
  border-top: 10px solid var(--blue-secondary);
  border-bottom: 10px solid var(--blue-secondary);
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(img/stiehltech-our_product-how_it_works-bg.jpg) no-repeat;
  background-position: top;
}

.products-big-section:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: transparent linear-gradient(0deg, #1f3469 0%, #03174e 100%);
  opacity: 0.5;
  z-index: 1;
}

.products-big-section > .container {
  position: relative;
  z-index: 10;
}

.how-it-works {
  max-width: 764px;
}

.standard-video {
  max-width: 640px;
  height: auto;
}

.standard-video iframe {
  box-shadow: 0px 12px 24px #00000029;
  border: 5px solid #ffffff;
}

.how-it-works h3 {
  position: relative;
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 30px;
}

.how-it-works h6 {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 1.33;
  margin-bottom: 20px;
  font-weight: 400;
}

.how-it-works p {
  max-width: 500px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 1.375;
}

.products-kit-photo {
  margin-bottom: 40px;
}

.products-kit-photo img {
  max-width: 800px;
  height: auto;
}

.product-2-photo {
  padding-right: 80px;
  padding-left: 95px;
}

.product-2-photo img {
  max-width: 388px;
  height: auto;
}

.product-2-text p {
  color: #ffffff;
  line-height: 1.375;
  margin-bottom: 20px;
}

.product-2-text p:last-of-type {
  margin-bottom: 30px;
}

.product-2-text {
  max-width: 662px;
}

.tutorial-section-content {
  position: relative;
  z-index: 10;
}

.tutorial-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.tutorial-section-content h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 0px;
}

/******************************************
            About Page
******************************************/

.short-history {
  background-color: var(--blue-dark);
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 5px solid var(--blue-secondary);
}

.short-history-content {
  max-width: 890px;
  margin: 0 auto;
}

.short-history-content p {
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 1.36;
  margin-bottom: 10px;
}

.short-history-content p:last-child {
  margin-bottom: 21px;
}

.short-history-content .social-wrap a img {
  height: 24px;
  width: auto;
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(173deg)
    brightness(110%) contrast(101%);
}

.short-history-content .social-wrap a img:hover {
  filter: invert(56%) sepia(54%) saturate(6454%) hue-rotate(164deg)
    brightness(94%) contrast(93%);
}

.biography-section .biography-block {
  padding-left: 60px;
  padding-right: 60px;
}

.bio-right {
  padding-left: 40px;
}

.bio-right .bio-text {
  max-width: 800px;
}

.bio-photo img {
  margin-bottom: 30px;
}

.bio-photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 12px 24px #00000029;
  border: 5px solid #ffffff;
}

.bio-name {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 5px;
}

.bio-role,
.bio-job {
  font-size: 16px;
  color: #000000;
  line-height: 1.31;
}

.bio-link {
  margin-top: 5px;
}

.bio-link a img {
  width: 24px;
  height: 24px;
  filter: invert(46%) sepia(6%) saturate(3964%) hue-rotate(167deg)
    brightness(92%) contrast(82%);
}

.bio-link a img:hover {
  filter: invert(18%) sepia(8%) saturate(7482%) hue-rotate(196deg)
    brightness(95%) contrast(96%);
}

.bio-text p {
  color: #000000;
  font-size: 18px;
  line-height: 1.33;
}

.bio-text p:last-child {
  margin: 0px;
}

.bio-right {
  padding-top: 42px;
}

.single-person {
  margin-bottom: 40px;
}

.single-person:last-child {
  margin-bottom: 0px;
}

.biography-section {
  padding-top: 60px;
  padding-bottom: 125px;
}

/******************************************
          Publications Page
******************************************/

.publications-page {
  padding-top: 80px;
  padding-bottom: 100px;
}

.publications-page .news-box {
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 60px;
}

.publications-page .news-box:last-child {
  margin-bottom: 0px;
}

.publications-page .news-box:hover {
  cursor: default;
  transform: none;
}

.publications-page .latest-news-block {
  max-width: 770px;
  margin-top: 0px;
}

.publications-page .latest-news-block a {
  margin-left: 0px;
  margin-right: 0px;
}

.publications-page .news-photo-wrap {
  height: 447px;
  overflow: hidden;
}

.publications-page .news-photo-wrap img {
  height: 100%;
  transition: transform 0.3s ease-out;
}

.publications-page .news-photo-wrap img:hover {
  transform: scale(1.1);
}

.publications-page .news-box .read-more a {
  justify-content: flex-start;
}

.publications-page .news-info-wrap {
  padding-bottom: 0px;
}

.publications-page .news-info-wrap h3 {
  line-height: 1.35;
}

.publications-page .news-info-wrap p:last-of-type {
  margin-bottom: 14px;
}

.news-navigation {
  max-width: 346px;
}

.news-navigation .search-wrap {
  position: relative;
  margin-bottom: 60px;
}

.news-navigation .search-wrap input {
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 13px 26px;
  width: 100%;
  font-size: 14px;
  line-height: 1.28;
}

.news-navigation .search-wrap input::placeholder {
  font-size: 14px;
  color: #7a7a7a;
}

.news-navigation .search-wrap input:active,
.news-navigation .search-wrap input:focus,
.news-navigation .search-wrap input:focus-visible {
  background-color: #e8f0fe;
  border: 1px solid #dddddd;
  outline: none;
}

.news-navigation .search-wrap button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--blue-secondary);
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
}

.news-navigation .search-wrap button:hover {
  background-color: var(--blue-dark);
}

.news-navigation .search-wrap button img {
  height: 14px;
  width: auto;
}

.news-nav {
  margin-bottom: 60px;
}

.news-nav:last-child {
  margin-bottom: 0px;
}

.news-nav-heading {
  color: #575757;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 9.5px;
  margin-bottom: 20px;
}

.news-nav ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.news-nav ul li {
  border-bottom: 1px dashed #e1e1e1;
  padding-top: 6.5px;
  padding-bottom: 8.5px;
}

.news-nav ul li:first-child {
  padding-top: 0px;
}

.news-nav ul li:last-child {
  padding-bottom: 0px;
}

.news-nav ul li:last-child {
  border-bottom: none;
}

.news-nav ul li a {
  color: #666666;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.35;
}

.recent-posts-box {
  margin-bottom: 15px;
}

.recent-posts-box:last-child {
  margin-bottom: 0px;
}

.recent-post-photo {
  margin-right: 15px;
  overflow: hidden;
}

.recent-post-photo img {
  width: 88px;
  height: 70px;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.recent-post-photo img:hover {
  transform: scale(1.1);
}

.recent-post-title a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  line-height: 1.35;
  margin-bottom: 5px;
}

.recent-post-date {
  color: #666666;
  font-size: 13px;
  line-height: 1.3;
}

.popular-tags a {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.28;
}

.popular-tags.news-nav ul li {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 3px 16px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.popular-tags.news-nav ul li:hover {
  background-color: var(--blue-light);
}
.popular-tags.news-nav ul li:hover a {
  color: #ffffff;
}

.pagination {
  margin-bottom: 0px;
}

.pagination-block {
  margin-top: 60px;
}

.page-item {
  margin-left: 5px;
  margin-right: 5px;
}

.page-link {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 600;
  border-radius: 50% !important;
  width: 45px;
  height: 45px;
  padding: 11.5px 18px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
}

.page-link img {
  max-height: 16px;
  width: auto;
}

.page-link:hover img {
  filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(170deg)
    brightness(107%) contrast(102%);
}

.page-link:hover,
.page-link:focus,
.page-link:active,
.page-link.active {
  background-color: var(--blue-secondary);
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

/******************************************
            Case Studies Page
******************************************/

.short-history-content.studies-short-history {
  max-width: 1034px;
}

.short-history-content.studies-short-history P:last-child {
  margin-bottom: 0px;
}

.case-photos-wrap {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

.case-photo {
  margin-right: 20px;
}

.case-photo:last-child {
  margin-right: 0px;
}

.case-info-box {
  padding-top: 30px;
  margin-left: 50px;
  max-width: 616px;
}

.case-photo img {
  width: 238px;
  height: 367px;
  object-fit: cover;
  box-shadow: 0px 6px 12px #00000029;
  border: 5px solid #ffffff;
}

.case-title h4 {
  color: var(--blue-secondary);
  font-weight: 700;
  line-height: 1.31;
  font-size: 22px;
  margin-bottom: 10px;
}

.case-description {
  margin-bottom: 30px;
}

.case-description p {
  font-size: 16px;
  line-height: 1.375;
}

.case-description p:last-child {
  margin-bottom: 0px;
}
.case-text {
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 5px;
}

.case-text:last-child {
  margin-bottom: 0px;
}

.case-period {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin-top: 20px;
}

.single-case-box {
  padding-top: 40.5px;
  padding-bottom: 30.5px;
  border-bottom: 1px solid #efefef;
}

.single-case-box:first-child {
  padding-top: 0px;
}

.single-case-box:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.studies-main-content {
  padding-top: 80px;
  padding-bottom: 100px;
}

.case-data {
  display: flex;
}

.case-data .case-text:first-child {
  min-width: 280px;
}

/******************************************
            Responsive
******************************************/

@media (max-width: 1399.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navbar-nav > li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero-right-img img {
    max-width: 500px;
  }
  .hero-right {
    padding-left: 100px;
  }
}

@media (min-width: 991.99px) and (max-width: 1199.98px) {
  .hero-right {
    padding-left: 20px;
  }
  .hero-right-img img {
    max-width: 450px;
  }
  .hero-section {
    padding-top: 200px;
  }

  .hero-section-content {
    align-items: center;
  }
  .hero-section h1 {
    font-size: 52px;
    line-height: 1.22;
  }
  .hero-section h3 {
    font-size: 32px;
  }
  .hero-section h4 {
    font-size: 28px;
  }
  .circle-photo img {
    max-height: 420px;
  }
  .news-info-wrap h3 {
    font-size: 24px;
  }
  .navbar-nav > li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .navbar-nav > li > a {
    font-size: 14px;
  }
  .menu-item .btn {
    padding: 15px 10px !important;
  }
  .footer-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .testimonials-block a {
    margin-left: 20px;
    margin-right: 20px;
  }
  .latest-news-block a {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 1199.98px) {
  .single-person {
    flex-direction: column;
  }
  .biography-section .biography-block {
    padding-left: 0px;
    padding-right: 0px;
  }
  .bio-right {
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 20px;
  }
  .bio-text {
    margin: 0 auto;
  }
  .products-hero-img {
    margin-left: 0px;
  }
}

@media (max-width: 991.98px) {
  .photo-wrapper {
    text-align: center;
    margin-bottom: 30px;
  }
  .why-perilav-content .photo-wrapper {
    margin-top: 40px;
  }

  .hero-arrow {
    bottom: 20px;
  }

  .hero-section {
    min-height: unset;
  }

  .what-perilav.standard-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .standard-list ul li {
    margin-bottom: 20px;
  }

  .standard-list ul li:last-child {
    margin-bottom: 0px;
  }
  .inovative-banner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .why-perilav.standard-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .why-perilav-content .photo-wrapper {
    margin-bottom: 0px;
  }
  .why-perilav-content .standard-list li {
    margin-bottom: 10px;
  }
  .why-perilav-content .standard-list ul li ul li {
    margin-bottom: 5px;
  }
  .why-perilav-content .standard-list ul li ul li:last-child {
    margin-bottom: 10px;
  }
  .why-perilav .product-photo-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .why-perilav-content.content-right .standard-list {
    margin-top: 0px;
  }

  .why-perilav-content.content-right .standard-list ul li {
    margin-bottom: 20px;
  }

  .why-perilav-content.content-right .btn-wrap {
    margin-top: 20px;
  }
  .mobile-hero-img img {
    max-height: 450px;
  }
  .mobile-hero-img {
    bottom: 80px;
    right: 100px;
  }
  .circle-photo img {
    width: 350px;
    height: 350px;
  }

  .testimonial-page {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .page-cover {
    height: 350px;
  }
  .page-cover-content h1 {
    font-size: 50px;
  }
  .page-cover-content h5 {
    font-size: 24px;
  }
  .short-history {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .short-history p {
    font-size: 18px;
  }
  .biography-section {
    padding-top: 40px;
    padding-bottom: 65px;
  }
  .publications-page {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .pagination-block {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .news-navigation {
    max-width: 100%;
  }
  .case-info-box {
    margin-left: 0px;
    max-width: 100%;
  }
  .products-hero-content {
    flex-direction: column;
  }
  .products-hero-img {
    text-align: center;
    margin-top: 40px;
  }
  .our-products-hero {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .products-big-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .products-kit-2 {
    flex-direction: column;
  }
  .products-kit-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .products-kit-photo {
    margin-bottom: 60px;
  }
  .product-2-text {
    margin-bottom: 30px;
  }
  .product-2-photo {
    padding-left: 0px;
    padding-right: 0px;
  }
  .why-perilav-content .standard-list ul {
    margin-bottom: 0px;
  }
  .hero-section-content {
    flex-direction: column;
  }
  .hero-section {
    padding-top: 50px;
  }
  .hero-right {
    padding-left: 0px;
  }

  .hero-section h4 {
    margin-bottom: 0px;
  }

  .hero-right-img {
    margin-top: 0px;
    text-align: center;
  }

  .hero-right-img img {
    max-width: 350px;
  }
  .hero-right .hero-btn-wrap {
    transform: translateY(-100px);
  }
}

@media (min-width: 767.99px) and (max-width: 991.98px) {
  .testimonials-block a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .testimoial-box {
    padding: 55px 25px 15px;
  }
  .latest-news-block a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .latest-news-section .news-info-wrap h3 {
    font-size: 18px;
  }

  .news-info-wrap {
    padding: 10px;
  }
}

@media (max-width: 767.98px) {
  .testimonials-block,
  .latest-news-block {
    flex-direction: column;
    align-items: center;
  }
  .latest-news-block a {
    margin-left: 0px;
    margin-right: 0px;
  }
  .testimonials-block a {
    margin-bottom: 60px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .testimonials-block a:last-child {
    margin-bottom: 0px;
  }
  .latest-news-section.standard-section {
    padding-bottom: 40px;
  }
  .latest-news-block a {
    margin-bottom: 30px;
  }
  .latest-news-block a:last-child {
    margin-bottom: 0px;
  }
  .latest-news-section .btn-wrap {
    margin-top: 30px;
  }
  .mobile-hero-img img {
    max-height: 370px;
  }
  .circle-photo img {
    width: 336px;
    height: 336px;
  }
  .publications-page .news-photo-wrap {
    height: 340px;
  }
  .publications-page .latest-news-block a {
    margin-bottom: 0px;
  }
  .products-hero-img img {
    width: 400px;
    height: 400px;
  }
  .standard-video {
    max-width: 100%;
    text-align: center;
  }
  .hero-section {
    padding-top: 30px;
  }
  .hero-right-img img {
    max-width: 400px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 638px;
  }
}

@media (max-width: 575.98px) {
  .menu-wrap {
    width: 100%;
  }
  .menu-list {
    width: 100%;
    left: 0;
    right: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-section h1 {
    font-size: 42px;
  }
  .hero-section h3 {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 17px;
  }
  .hero-section h4 {
    font-size: 22px;
    margin-bottom: 0px;
  }
  .mobile-hero-img {
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 255px;
    width: 100%;
  }
  .mobile-hero-img img {
    width: 100%;
    object-fit: cover;
  }
  .why-perilav-content.content-right .btn-wrap a {
    margin-bottom: 20px;
  }
  .btn-wrap a {
    display: inline-block;
  }
  .why-perilav-content.content-right h5 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright {
    order: 2;
  }
  .footer-social-icons {
    order: 1;
    margin-bottom: 20px;
  }
  .tel-link {
    padding: 20px;
  }
  .footer-social-icons ul {
    margin-bottom: 0px;
  }
  .footer-social-icons ul {
    padding-left: 0px;
  }
  .footer-bottom {
    padding: 0px;
    padding-bottom: 25px;
  }
  .modal-body {
    padding: 60px 20px;
  }
  .page-cover {
    height: 250px;
  }
  .page-cover h1 {
    font-size: 42px;
  }
  .page-cover h5 {
    font-size: 24px;
  }
  .publications-page .news-photo-wrap {
    height: 194px;
  }
  .publications-page .news-info-wrap h3 {
    line-height: 1.2;
  }
  .publications-page .news-box {
    margin-bottom: 30px;
  }
  .publications-page .news-info-wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
  .studies-main-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .case-photo {
    margin-right: 13px;
  }
  .case-photo img {
    width: 161px;
    height: 246px;
  }
  .case-period {
    margin-top: 14px;
  }
  .single-case-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .case-stats-box table {
    table-layout: fixed;
  }

  .case-stats-box table tr td {
    max-width: 50%;
  }
  .products-hero-img img {
    width: 335px;
    height: 335px;
  }
  .product-2-photo img {
    max-width: 100%;
    height: auto;
  }
  .tutorial-section {
    padding-top: 225px;
    padding-bottom: 175px;
    background-position: 0% 0%;
  }
  .hero-right-img img {
    max-width: 255px;
  }
  .hero-section {
    padding-bottom: 0px;
  }
  .case-data .case-text:first-child {
    min-width: 50%;
    padding-right: 13px;
  }
  .case-data .case-text {
    width: 50%;
  }
}

@media (max-width: 370px) {
  .circle-photo img {
    width: 100%;
    max-height: 280px;
  }
  .hero-section h1 {
    font-size: 38px;
  }
  .hero-section h3 {
    font-size: 20px;
  }
  .hero-section h4 {
    font-size: 18px;
  }
  .navbar-brand img {
    height: 45px;
  }
}

@media (max-width: 320px) {
  .circle-photo img {
    max-height: 250px;
  }
  .hero-section h1 {
    font-size: 32px;
  }
  .hero-section h3 {
    font-size: 18px;
  }
  .hero-section h4 {
    font-size: 16px;
  }
  .navbar-brand img {
    height: 35px;
  }
  body {
    padding-top: 75px;
  }
}
